
body{
	background-color : #4A79FF;
}

header{
	width : 100%;
	height : 15%;
	text-align : center;
	color : #4A79FF;
	font-size : 2rem;
	text-decoration : underline;
	border-bottom: black solid;
	background : url("../pictures/plage.png") no-repeat;
	background-size : 100%;
	z-index:1;
	padding : 1% 1% 2% 1%;
	margin-bottom :1%;
}
header #logo{
	max-height :42px;
	float : left;
}

nav ul#Menu li{
	width :24.5%;
	font-size : 1.1em;
	position : relative;
	text-align : center;
	display : inline-block;
	vertical-align : top;
}

nav ul#Menu{
    width: 100%;
    height : 1%;
    text-align : center;
    position : relative;
    font-size : 1.1em;
}

h2{
	display : none;
}

nav ul#Menu li .fake_button{
	text-align : left;
	border : 4px #C72020 solid;
	background-color : red;
}
nav{
	background-color :#4A79FF;
	width : 100%;
}

/*.contenu{
	width : 100%;
	height : 75%;
	margin : 0%;
	padding : 0%;
}*/
.create{
	width : 100%;
	height : 100%;
	display : none;
}

.connect{
	width : 100%;
	height : 100%;
	display : none;
}

.main_page{
	margin :0%;
	position : absolute;
	width : 100%;
	height : 76%;
}

.main_page article{
	top : 1%;
	width: 80%;
	position : absolute;
	border : 2px black solid;
	padding: 5px 5px 5px 5px;
	left : 10%;
	display : inline-block;
	max-height:96%;
	overflow: auto;
	margin: auto;
}

.main_page #plagebackground{
	z-index : -1;
	height : 100%;
	width : 100%;
}

footer{
	position :absolute;
	bottom : 0%;
	width : 100%;
	background-color: #0000CC;
	border-top: black solid;
}

footer p{
	font-size : 1.2em;
	text-align : center;
}

textarea{
	position : absolute;
	width : 100%;
	height :50%;
}

input[type="submit"] {
	position : absolute;
	bottom :5%;
	width : 100%;
	height : 15%;
}


.img_admin{
	width : 100%;
	height : 100%;

}
.inscription{
	margin: 0px;
	width : 25%;
	height : 30%;
	position : relative;
	overflow :auto;
	display : none;
	border : 1px red solid;
	left : 37.5%;
	top : 0%;
}

.description_plage{
	display : none;
	margin: 0px;
	width : 40%;
	height : 35%;
	margin-bottom : 3%;
	position : absolute;
	overflow :auto;
	border : 1px red solid;
	left : 30%;
}

table
{
    border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    width :50%;
	border: 1px solid black;
}

.list_plage_description{
	display : none;
	width : 75%;
	height : 75%;
	margin-top : 3%;
	margin-bottom : 3%;
	position : absolute;
	overflow :auto;
	border : 1px red solid;
	padding : 5px 10px 5px 10px;
	left : 12.5%;
}

.connexion{
	margin: 0px;
	width : 25%;
	height : 30%;
	position : relative;
	overflow :auto;
	display : none;
	border : 1px red solid;
	left : 37.5%;
	top : 0%;
}

.creation_plage{
	display :none;
	margin: 0px;
	width : 25%;
	height : 50%;
	margin-bottom : 3%;
	position : absolute;
	overflow :auto;
	border : 1px red solid;
	left : 37.5%;
}

.inscription_plage{
	display :none;
	margin: 0px;
	width : 25%;
	height : 50%;
	margin-bottom : 2%;
	position : relative;
	overflow :auto;
	border : 1px red solid;
	left : 37.5%;
}
.list{
	display : none;
	width : 25%;
	position : relative;
	margin : auto;
}
input[type="text"], input[type="date"] , input[type="email"], input[type="password"], input[type="number"]{
	width: 25%;
}
select{
	width :100%;
}

